*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

:root{
    font-size: 100%;
    font-family: 'Auge-Trial', sans-serif;
    color: #fff;

    --bg--color: rgb(20, 16, 16);
}

body{
    background-color: var(--bg--color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5rem;
    background-color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.link{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.dropdown.active > .link,
.link:hover{
    color: black;
}

button{
    font-family: "Auge-Trial", sans-serif;
}

.navbar a, .navbar button{
    position: relative;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3rem;
}

.navbar a::before, .navbar button::before{
    content: '';
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.1rem;
    transition: .3s;
}

.navbar a:hover::before, .navbar button:hover::before{
    width: 100%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: brown;
    border-radius: .25rem;
    width: max-content;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.titluPag{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

.informatie{
    font-size: 2rem;
    text-indent: 5rem;
    margin-left: 1rem;
}

.slideshow img{
    background: #fff;
    height: 20rem;
    width: auto;
}

.slideshow{
    display: flex;
    justify-content: space-evenly;
}

main ul{
    margin-left: 2rem;
    font-size: 2rem;
}